.main {
    width: 800px;
    height: 783px;
    margin: 7em auto;
    border-radius: 1.5em;
}

.un {
    width: 76%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid black;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    background-color: purple;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn1 {
    background-color: purple;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn2 {
    background-color: purple;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.actionbtns {
    display: inline-flex !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 4px 0;
    white-space: nowrap;
    margin-left: 306px !important;
}

.edit button.btn1 {
    margin-left: 80px;
}

.MainForm {
    position: relative;
    left: 80%;
}

.MainForm1 {
    background-color: lightgrey;
    width: 300px;
    height: 200px;
    border: 1px solid;
    padding: 50px;
    margin: 20px;
}

.dark .btn {
    color: white;
}

.files {
    position: relative;
    margin: 20%;
}

.box {
    width: 10%;
    height: 20%;
    border: 1px solid black;
    margin-left: 90%;
}